@charset "UTF-8";
/* 하이퍼링크 스타일 */
a:link {text-decoration:none; color:blue;}
a:hover{text-decoration:underline; color:blue;}
a:visited{text-decoration:none;}
a:active{text-decoration:none; color:yellow;}